<div id="dialog" class="card d-flex flex-column shadow">
    <div class="row no-gutters flex-fill fill d-flex">
        <div class="col-md-2">
            <div id="color-background" class="pa-0 container h-100 d-flex">
                <div class="align-self-center justify-content-center mx-auto my-5">
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card-body">
                {{#if _error}}
                    <div class="alert alert-danger" role="alert">
                        {{{_error}}}
                    </div>
                {{/if}}
                {{#if _success}}
                    <div class="alert alert-primary" role="alert">
                        {{{_success}}}
                        {{#if api_key}}
                            <br>
                            This is the only time you will see your key/pair's secret. Please write it down.
                            <br>
                            <br>
                            Key: {{{api_key}}}
                            <br>
                            Secret: {{{api_secret}}}
                        {{/if}}
                    </div>
                {{/if}}
                    <h1>User Profile</h1>
                    <small class="text-muted">Details for the currently logged in user.</small>

                    <br>
                    <p><strong>Name: </strong> {{{user.display_name}}}</p>
                    <p><strong>Email: </strong> {{{user.email}}}</p>
                <br>
                <br>
                <h4>
                    API Key/Secret Pairs
                </h4>
                <small class="text-muted">This is a list of all your active API key/secret pairs.</small>
                <div class="row">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Key</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each apiKeys}}
                            <tr>
                                <th scope="row">{{this.key}}</th>
                                <td>

                                    <form  action="/oauth/profile/keys/{{{this.key}}}?_method=DELETE" method="post">
                                        <input type="hidden" name="_csrf" value="{{{../_csrfToken}}}" />
                                        <div class="w-100 px-4">
                                            <button type="submit" class="btn  btn-danger mb-2 btn-block">X</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>


                <form class="mb-3" action="/oauth/profile/keys" method="post">
                    <input type="hidden" name="_csrf" value="{{{_csrfToken}}}" />
                    <div class="w-100 px-4">
                        <button type="submit" class="btn btn-lg btn-custom mb-2 btn-block">Create New Key/Pair</button>
                    </div>
                </form>
                <div class="w-100 d-flex">
                    <a class="login-link" href="/logout">Logout</a>
                    <a class="login-link ml-auto" href="/oauth/applications">OAuth Applications</a>
                </div>
            </div>
        </div>
    </div>
</div>
